# last modified 2018-09-01

importFrom("car", "Anova", "deltaMethod", "linearHypothesis", 
           "makeHypothesis", "printHypothesis")
importFrom("stats", "terms", "coef", "df.residual", "vcov", "qt", "pf")

S3method("Anova", "mira")
S3method("linearHypothesis", "mira")
S3method("deltaMethod", "mira")
S3method("coef", "mira")
S3method("vcov", "mira")
