# last modified 2019-07-08

importFrom("car", "Anova", "deltaMethod", "linearHypothesis", 
           "makeHypothesis", "printHypothesis")
importFrom("stats", "terms", "coef", "df.residual", "vcov", "qt", "pf", "knots", "cov2cor", "formula", "model.frame",
           "model.matrix", "na.omit", "pt", "var", "asOneSidedFormula")
importFrom("methods", "slot")
importFrom("latticeExtra", "layer", "glayer")
importFrom("lattice", "panel.lines", "panel.polygon")


export("gspline", "wald", "getFix", "getX", "Lform", "panel.fit")

S3method("Anova", "mira")
S3method("linearHypothesis", "mira")
S3method("deltaMethod", "mira")
S3method("coef", "mira")
S3method("vcov", "mira")
S3method("print", "gspline")
S3method("print", "gspline_matrix")
S3method("knots", "gspline")
S3method("getFix", "multinom")
S3method("getFix", "lm")
S3method("getFix", "glm")
S3method("getFix", "lme")
S3method("getFix", "gls")
S3method("getFix", "merMod")
S3method("getFix", "zeroinfl")
S3method("getFix", "mipo")
S3method("getFix", "MCMCglmm")
S3method("getFix", "stanfit")
S3method("getFix", "default")
S3method("as.data.frame", "wald")
S3method("print", "wald")
