# last modified 29 September 2009 by J. Fox

export(
    av.plot,
    av.plots,
    avp,
    box.cox.axis,
    ceres.plot,
    ceres.plots,
    confidenceEllipse,
    contr.Helmert,
    contr.Sum,
    contr.Treatment,
    cr.plot,
    cr.plots,
    crp,
    dataEllipse,
    ellipse,
    leverage.plot,
    leverage.plots,
    logit,
    nice,
    panel.car,
    power.axis,
    prob.axis,
    qq.plot,
    qqp,
    recode,
    reg.line,
    scatterplot,
    scatterplotMatrix,
    slp,
    some,
    sp,
    spm,
    spread.level.plot,
    subsets,
    symbox,
    which.names)    
S3method(av.plot, glm)              
S3method(av.plot, lm)       
S3method(ceres.plot, glm)            
S3method(ceres.plot, lm)            
S3method(confidenceEllipse, glm)    
S3method(confidenceEllipse, lm)     
S3method(cr.plot, glm)               
S3method(cr.plot, lm)      
S3method(leverage.plot, glm)         
S3method(leverage.plot, lm)     
S3method(print, spread.level.plot)   
S3method(qq.plot, default)           
S3method(qq.plot, glm)               
S3method(qq.plot, lm)    
S3method(scatterplot, default)       
S3method(scatterplot, formula)       
S3method(scatterplotMatrix, default)
S3method(scatterplotMatrix, formula)
S3method(some, data.frame)           
S3method(some, default)              
S3method(some, matrix)      
S3method(spread.level.plot, default) 
S3method(spread.level.plot, formula) 
S3method(spread.level.plot, lm)     
S3method(subsets, regsubsets)        
        