# last modified 1 October 2009 by J. Fox

export(
    av.plot,
    av.plots,
    avp,
    basicPowerAxis,
    bcPowerAxis,
    ceres.plot,
    ceres.plots,
    confidenceEllipse,
    contr.Helmert,
    contr.Sum,
    contr.Treatment,
    cr.plot,
    cr.plots,
    crp,
    dataEllipse,
    ellipse,
    leverage.plot,
    leverage.plots,
    logit,
    panel.car,
    probabilityAxis,
    qqPlot,
    qqp,
    recode,
    reg.line,
    scatterplot,
    scatterplotMatrix,
    slp,
    some,
    sp,
    spm,
    spreadLevelPlot,
    symbox,
    which.names,
    yjPowerAxis)    
S3method(av.plot, glm)              
S3method(av.plot, lm)       
S3method(ceres.plot, glm)            
S3method(ceres.plot, lm)            
S3method(confidenceEllipse, glm)    
S3method(confidenceEllipse, lm)     
S3method(cr.plot, glm)               
S3method(cr.plot, lm)      
S3method(leverage.plot, glm)         
S3method(leverage.plot, lm)     
S3method(print, spreadLevelPlot)   
S3method(qqPlot, default)           
S3method(qqPlot, glm)               
S3method(qqPlot, lm)    
S3method(scatterplot, default)       
S3method(scatterplot, formula)       
S3method(scatterplotMatrix, default)
S3method(scatterplotMatrix, formula)
S3method(some, data.frame)           
S3method(some, default)              
S3method(some, matrix)      
S3method(spreadLevelPlot, default) 
S3method(spreadLevelPlot, formula) 
S3method(spreadLevelPlot, lm)     
S3method(subsets, regsubsets)        
        